<html>
<head> 
  <title> AG Machine Cloud </title>
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>      
<body>
    <div style="background-color: #141b2e; width: 100%; height: 90px;">
        <div style="width: 7%; height: 70px; border-radius: 50%; background-image: url(http://www.mxmexhibitions.com/agrotecno/img/Buildafro.png); margin-left: 2%; position: absolute; top: 10; background-size: 85%; background-position: center; background-position-x: 10; float: left;"></div>
        <h1 style="color: cornsilk; position: absolute; top: 15; font-size: 350%; padding-left: 10%;">AG MACHINE CLOUD</h1>
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float: left; background-color: #141b2e; border-color: #141b2e; font-size: 200%; position:absolute; right: 0; margin-right: 2%;">
            Menu
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="float: left;">
            <a class="dropdown-item" href="/fhome">HOME</a>
            <a class="dropdown-item" href="/fservicerequests">Service Requests</a>
            <a class="dropdown-item" href="/fdashboard">Dashboard</a>
          </div>
    </div>
    <div style="width: 15%; height: 700px; background-color:rgb(13, 30, 61); float: left">
        <div style="background-image: url(https://middle.pngfans.com/20190526/yi/user-logo-png-user-computer-icons-clipart-c58837c78f66866c.jpg); width: 63%; height: 120px; border-radius: 50%; background-size: 100%; background-position: center; float: left; margin-top: 10%; margin-left: 22%; margin-bottom: 10%;"></div>
        <p style="padding-left: 20%; font-size: 200%; color:white;">Welcome</p>
        <p style="padding-left: 20%; font-size: 200%; color:white;"><%= user[0].firstname %></p>
    </div>
    <div style="width: 85%; height: 700px; margin-left: 15%; background-color:rgb(12, 6, 41);background-size: 102%;">
        <h1 style="color: white; font-size:350%; margin-left: 5%; padding-left: 34%;">Service Requests</h1>      
    
<div class="row" style="padding-top: 8%;">
    <div class="col-3">
        <div class="image" style="width:50%; height:150px; border-radius: 50%; background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRER89rpxK2rRzcwqbIAiyF63zb3bl2vSCadWyj34nUcaxCOMHq&s); margin-left: 15%; margin-top: 5%; background-size: 80%; background-position-y: 30%; background-position-x: 20%;" onclick="location.href='/faddr'"></div>
        <h1 style="margin-top: 2%; margin-left: 13%; color:whitesmoke; font-size: 200%;">Add Request</h1>
    </div>
    <div class="col-3">
            <div class="image" style="width:50%; height:150px; border-radius: 50%; background-image: url(https://www.vippng.com/png/detail/221-2219384_google-received-delete-icon-white-png.png); margin-left: 15%; margin-top: 5%; background-size: 100%; background-position: center;" onclick="location.href='/fdeleter'"></div>
            <h1 style="margin-top: 2%; margin-left: 8%; color: whitesmoke; font-size: 200%;">Delete Request</h1>
        </div>
        <div class="col-3">
                <div class="image" style="width:50%; height:150px; border-radius: 50%; background-image: url(https://previews.123rf.com/images/faysalfarhan/faysalfarhan1502/faysalfarhan150200452/36067780-update-icon-glassy-orange-button.jpg); margin-left: 15%; margin-top: 5%; background-size: 100%; background-position-y: 20%; background-position-x: 80%;" onclick="location.href='/fupdater'"></div>
                <h1 style="margin-top: 2%; margin-left: 8%; color: whitesmoke; font-size: 200%;">Update Request</h1>
            </div>
        <div class="col-3">
                <div class="image" style="width:50%; height:150px; border-radius: 50%; background-image: url(https://images.squarespace-cdn.com/content/v1/57da34d9e3df28673b3c195d/1486672461333-34NAKI4YCQ1DTV93Y61C/ke17ZwdGBToddI8pDm48kGDpvalPb1SqHoCn1hwN0Y57gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmQPoRzxSr1hzN-vPBHt7YyLLXgctAyUJRqJUUGWVDK_ZzIgvsybGcZEPqUYiXY8im/service-request.png?format=1500w); margin-left: 15%; margin-top: 5%; background-size: 100%; background-position-y: 20%; background-position-x: 80%;" onclick="location.href='/fmyservice'"></div>
            <h1 style="margin-top: 2%; margin-left: 13%; color: whitesmoke; font-size: 200%;">My Service Requests</h1>
        </div>
</div>
</div>

</body>
<style>

.carousel-item:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.image:hover{
  transform: scale(1.1);
  cursor: pointer;
}
</style>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</html>   